<div class="header clear_fix">
    <%assign var='menulang' value=Message_model::get_message('MENU')%>
	<p><img src="<%$smarty.const.ACW_BASE_URL%>shared/img/logo_small.jpg" style="height: 40px;margin-top: 5px;">	
    <%$menulang['MENU030']%></p>    
	<ul class="subnav">
		<li><a href="<%$smarty.const.ACW_BASE_URL%>user/password"><%$menulang['MENU031']%></a></li>
		<li><a href="<%$smarty.const.ACW_BASE_URL%>login/delete"><%$menulang['MENU027']%></a></li><!--Thoát-->
		<li><a href="<%$smarty.const.ACW_BASE_URL%>message/change"><%$menulang['MENU028']%></a></li><!--English-->
		<li><%$menulang['MENU026']%>　<%$user_info.user_name%><%*これはLogin_model::check()で入ります*%></li><!--Xin chào-->
	</ul>
	<ul class="gnav">
		<!--<li><a href="<%$smarty.const.ACW_BASE_URL%>category" class="gnav_1">Folder</a></li>-->
        <!--<li><a href="<%$smarty.const.ACW_BASE_URL%>mscolor" class="gnav_1">mscolor</a></li>-->
        <%if $user_info.upload=="1" || $user_info.kiemtra=="1" || $user_info.duyet=="1" || $user_info.trungtam_quanly=="1"%>
        <li><a href="<%$smarty.const.ACW_BASE_URL%>don" id="menu_kt" class="gnav_1"><%$menulang['MENU001']%></a></li><!--Kiểm tra yêu cầu XD-->
        <li><a href="<%$smarty.const.ACW_BASE_URL%>don/edit" id="menu_lapyc" class="gnav_1"><%$menulang['MENU002']%></a></li><!--Lập yêu cầu XD-->
        <li><a href="javascript:void(0);" id="menu_lsyc" class="gnav_2"><%$menulang['MENU003']%></a><!--Lịch sử yêu cầu XD-->
            <ul class="sub">
                <li><a href="<%$smarty.const.ACW_BASE_URL%>don/history" ><%$menulang['MENU003']%></a></li><!--Lịch sử yêu cầu XD-->
                <li><a href="<%$smarty.const.ACW_BASE_URL%>file/mtblank" ><%$menulang['MENU009']%></a></li><!--Lịch sử mượn trả file-->
                <%if $user_info.trungtam_quanly=="1"%>
                <li><a href="<%$smarty.const.ACW_BASE_URL%>file/cublank" ><%$menulang['MENU010']%></a></li><!--Lịch sử file cũ-->
                <li><a href="<%$smarty.const.ACW_BASE_URL%>file/existfile" ><%$menulang['MENU011']%></a></li><!--Convert lại pdf-->
                <%/if%>
            </ul>
        </li>
         <%*if $user_info.upload=="1"*%>  
        <li><a href="<%$smarty.const.ACW_BASE_URL%>don/muonblank" id="menu_muon" class="gnav_1"><%$menulang['MENU004']%></a></li><!--Mượn bản vẽ-->
        <%*/if*%>
        <!--<li><a href="<%$smarty.const.ACW_BASE_URL%>don/muon" class="gnav_1">Đưa Bản vẽ vào máy</a></li>-->
        <%/if%> 
        <%if $user_info.trungtam_quanly=="1" || $user_info.duyet=="1"%>
        <li><a href="javascript:void(0);" id="menu_phanbo" class="gnav_2"><%$menulang['MENU005']%></a><!--Phân bổ file-->
            <ul class="sub">
                <%if $user_info.trungtam_quanly=="1"%>
                <li><a href="<%$smarty.const.ACW_BASE_URL%>folderfile" ><%$menulang['MENU005']%></a></li><!--Phân bổ file-->
                <li><a href="<%$smarty.const.ACW_BASE_URL%>folderfile/history" ><%$menulang['MENU012']%></a></li><!--Lịch sử phân bổ file-->
                <%/if%>
                <%if $user_info.admin =="1" %>
        <li><a href="<%$smarty.const.ACW_BASE_URL%>banve" id="menu_banve" class="gnav_1"><%$menulang['MENU013']%></a></li><!--Danh mục bản vẽ-->
                <%/if%>               
                <li><a href="<%$smarty.const.ACW_BASE_URL%>may" ><%$menulang['MENU014']%></a></li><!--Danh sách máy-->
                <li><a href="<%$smarty.const.ACW_BASE_URL%>mayfile" ><%$menulang['MENU015']%></a></li><!--Đưa Bản vẽ vào máy-->
            </ul>
        </li>        
        <%/if%>
        <%if ($user_info.upload=="1" || $user_info.kiemtra=="1")&& $user_info.admin !="1" %>
        <li><a href="<%$smarty.const.ACW_BASE_URL%>banve" id="menu_banve" class="gnav_1"><%$menulang['MENU013']%></a></li><!--Danh mục bản vẽ-->
        <%/if%>
        <%if $user_info.print=="1"%>
        <li><a href="javascript:void(0);" id="menu_in" class="gnav_2"><%$menulang['MENU006']%></a><!--IN File-->
            <ul class="sub">
                <li><a href="<%$smarty.const.ACW_BASE_URL%>file/blank" ><%$menulang['MENU006']%></a></li><!--In File-->
                <li><a href="<%$smarty.const.ACW_BASE_URL%>print" ><%$menulang['MENU016']%></a></li><!--Lịch sử In file<-->
            </ul>
        </li>
        <%/if%>
        <%if $user_info.print=="1" || $user_info.trungtam_quanly=="1"%>
        <li><a href="javascript:void(0);" id="menu_capphat" class="gnav_2"><%$menulang['MENU007']%></a><!--Cấp phát file-->
            <ul class="sub">
                <%if $user_info.print=="1"%>
                    <li><a href="<%$smarty.const.ACW_BASE_URL%>file/capphat" ><%$menulang['MENU007']%></a></li><!--Cấp phát file-->
                <%/if%>
                <li><a href="<%$smarty.const.ACW_BASE_URL%>capphat/history" ><%$menulang['MENU017']%></a></li><!--Lịch sử Cấp phát file-->
            </ul>
        </li>
        <%/if%>
        <%if $user_info.admin=="1"%>
		<li><a href="javascript:void(0);" id="menu_admin" class="gnav_2"><%$menulang['MENU008']%></a><!--Admin-->
			<ul class="sub">				
                <li><a href="<%$smarty.const.ACW_BASE_URL%>donvi"><%$menulang['MENU018']%></a></li><!--Đơn vị-->
                <li><a href="<%$smarty.const.ACW_BASE_URL%>phongban"><%$menulang['MENU019']%></a></li><!--Phòng ban-->
                <li><a href="<%$smarty.const.ACW_BASE_URL%>tonhom"><%$menulang['MENU020']%></a></li><!--Tổ nhóm-->
                <li><a href="<%$smarty.const.ACW_BASE_URL%>user"><%$menulang['MENU021']%></a></li><!--User-->
                <li><a href="<%$smarty.const.ACW_BASE_URL%>category"><%$menulang['MENU022']%></a></li><!--Folder-->
				<li><a href="<%$smarty.const.ACW_BASE_URL%>foldernhom"><%$menulang['MENU023']%></a></li><!--Phân quyền-->						
				<li><a href="<%$smarty.const.ACW_BASE_URL%>download/blank"><%$menulang['MENU024']%></a></li><!--Lịch sử download-->								
				<li><a href="<%$smarty.const.ACW_BASE_URL%>don/xoadon"><%$menulang['MENU025']%></a></li><!--Xóa Đơn-->	
				<li><a href="<%$smarty.const.ACW_BASE_URL%>message"><%$menulang['MENU029']%></a></li><!--cài đặt-->						
			</ul>
        </li>
		<%/if%>
	</ul>
</div><!-- / .header -->
