<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><!-- InstanceBegin template="/Templates/base.dwt" codeOutsideHTMLIsLocked="false" -->
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<%assign var='lang' value=Message_model::get_message('BANVE')%>
	<title><%$lang['BVE002']%></title><!--Danh mục bản vẽ-->
	<%include 'include/head.html'%>
	<link href="<%$smarty.const.ACW_BASE_URL%>shared/css/category.css" rel="stylesheet" type="text/css" />
	<script type="text/javascript" src="<%$smarty.const.ACW_BASE_URL%>js/jquery.upload-1.0.2.js"></script>
    <link href="<%$smarty.const.ACW_BASE_URL%>shared/css/select2.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="<%$smarty.const.ACW_BASE_URL%>shared/js/select2.js"></script>
</head>
    
<body class="column_2">
	<div class="bg">
		<div class="container">
			<%include 'include/menu.html'%>
            <div class="search_wrap">
        		<form id="search_form" action="<%$smarty.const.ACW_BASE_URL%>banve" method="POST">
        		<table class="kensaku">
        			<colgroup>
        				<col width="85px" />
        				<col width="200px" />
        				<col width="" />
        			</colgroup>
        			<tr>
        				<th><%$lang['BVE001']%><!--Điều kiện tìm--></th>
        				<td class="first"><%$lang['BVE003']%><!--Mã bản vẽ-->  <input type="text" maxlength="8" size="15" name="s_banve_no" id="s_banve_no" value="" /></td>
                        <td><%$lang['BVE004']%><!--Tên bản vẽ-->  <input type="text" maxlength="255" size="30" name="s_banve_name" id="s_banve_name" value="" /></td>
                                        <td class="al_l"><button type="button" id="btn_search"><%$lang['BVE005']%><!--Tìm--></button> <button type="button" id="btn_clear"><%$lang['BVE040']%></button></td></tr><!--Xóa-->
        		</table>
        		</form>
        	</div>
			<div class="contents_wrap">
				<!-- InstanceBeginEditable name="top_contents" -->
				<ul class="topic_path" id="t_path">
				</ul>
				<!-- InstanceEndEditable -->
				<!-- InstanceBeginEditable name="side_contents" -->
				<div class="side_contents">
					<ul class="btn_wrap">
						
						<li><input type="button" id="btn_new" value="<%$lang["BVE006"]%>" /></li>  <!--Thêm mới -->                                             
                                                <li>
                                                <input type='button' value='<%$lang["BVE041"]%>' class='tree_fold' />
                                                </li>                                                
                        <li><input type="button" id="btn_excel" value="<%$lang["BVE007"]%>" /></li><!--Xuất excel-->
                        <li><input type="button" id="btn_copy" value="<%$lang["BVE025"]%>" /></li> <!--Copy-->
					</ul>
					<div class="tree_wrap height1" id="tree_view">
					</div><!-- / .tree_wrap -->
				</div><!-- / .side_contents heightLine -->
				<!-- InstanceEndEditable -->
				<!-- InstanceBeginEditable name="main_contents" -->
				<div class="main_contents">
					<div class="main_innner height3" id="edit_contents_html" style="overflow-y: none">
                        
					</div><!-- / .main_innner -->
				</div><!-- / .main_contents -->
				<!-- InstanceEndEditable -->
				<%include 'include/footer.html'%>
			</div><!-- / .contents_wrap -->
		</div><!-- / .container -->
	</div><!-- / .bg -->
<div id="copy_dialog"></div>
<div id="move_dialog"></div>
<%include 'include/argo_ajax.html'%>
<%include 'include/tree_view.html'%>
<script type='text/javascript'>
$(function() {
    
    $('#menu_banve').addClass('selected');

	var add_section_no;
	var sort_mode = false;	// ソートモード
	var section_data = [];
        var _is_edit_category = false;
    var _has_ctg_child = false; 
    TreeView.override_on_click_open("#tree_view li", 'ltree');    
	var bvid_reload = null;
	var item_select = null;
	
	var tree_ajax = new Argo_ajax('json');
	tree_ajax.done_func = function(tree_data) {
		tree_json_data = tree_data;
		tree_reload();
		if (sort_mode) {
			// ソートモード継続
			change_sort_mode();
		}
		if(bvid_reload != null){	
			//console.log(bvid_reload);
			
			var list = 	bvid_reload.split(",");
			for(var i=(list.length -1); i>=0;i--){
				if(i>0){
					$('#tree_view_img_open_'+list[i]).click();	
				}else{
					$('#ltree_'+list[i]).find('a')[0].click();
				}
			}
			bvid_reload = null;
		}
	};
	<%if isset($bvid) && strlen($bvid)>0%>
		bvid_reload = '<%$bvid%>';
	<%/if%>
	var html_ajax = new Argo_ajax('html');
	html_ajax.done_func = function(data) {
		if (data === '') {
			// エラー
			Argo_ajax.message_box_error("", '<%$lang["BVE008"]%>'); //Không có dữ liệu;
			// ツリー再描画
			$arr_s = $('#search_form').serializeArray();
			tree_ajax.connect('GET', 'banve/tree',$arr_s);
			return;
		}
		// HTML追加
		add_section_no = 0;
		$('#edit_contents_html').prepend(data);
	};
	var json_ajax = new Argo_ajax('json');
	json_ajax.done_func = function(data) {
		// 更新
		if (data.error) {
			if (data.error.length > 0) {
				Argo_ajax.message_box_error('', data.error[0]['info']);
			}
		} else {          
			Argo_ajax.message_box(' ', '<%$lang["BVE009"]%>',function(){
				//var all_parent = TreeView.get_all_parent(tree_json_data,selected_category_id);
				//console.log(tree_json_data);
				//console.log(all_parent);
				 
				window.location.href ="<%$smarty.const.ACW_BASE_URL%>banve?bvid="+item_select;
				//$arr_s = $('#search_form').serializeArray();
				//tree_ajax.connect('GET', 'banve/tree',$arr_s);
			}
			);//Cập nhật thành công !  
			//$('#edit_contents_html').empty();
			// ツリー更新
            /*$arr_s = $('#search_form').serializeArray();
			tree_ajax.connect('GET', 'banve/tree',$arr_s);	*/
			/*$('#btn_search').click();
			return;	*/	
			
			return ;
			/*var tree_ajax_new = new Argo_ajax('json');
			tree_ajax_new.done_func = function(tree_data) {
				tree_json_data = tree_data;
				tree_reload();
				if (sort_mode) {
					// ソートモード継続
					change_sort_mode();
				}
			};
			$arr_s = $('#search_form').serializeArray();
			tree_ajax_new.connect('GET', 'banve/tree',$arr_s);*/
		}
	};

	var sort_ajax = new Argo_ajax('json');
	sort_ajax.done_func = function(data) {
		// 更新
		if (data.error) {
			if (data.error.length > 0) {
				Argo_ajax.message_box_error("", data.error[0]['info']); //Edit NBKD-1071 TinVNIT 02/27/2015
			}
		} else {
            $arr_s = $('#search_form').serializeArray();
			tree_ajax.connect('GET', 'banve/tree',$arr_s);
		}
	};

	$('#btn_new').click(function() {
        var level_no = $('#level_no').val();
        if(level_no=='5'){
             Argo_ajax.message_box(' ', '<%$lang["BVE010"]%>'); //Cấp "Bản vẽ phôi" không thể tạo cấp con !
             return;
        }
		$('#edit_contents_html').empty();
                _is_edit_category = false;//Add - trung VNIT - 2014/09/15
		html_ajax.connect('GET', 'banve/new/' + selected_category_id.replace("ltree_",""));
	});
	$('#btn_excel').click(function(){        	
		window.location.href ="<%$smarty.const.ACW_BASE_URL%>banve/excel";
	});
	
	// 追加項目状態を変更
	var change_section_status = function (com_sp_id, cval) {
		if (section_data['kbn' + cval].checkbox == 1) {
			// 共通仕様チェックボックスを表示に
			$('#common_spec_select_' + com_sp_id).show();
		} else {
			$('#common_spec_select_' + com_sp_id).hide();
		}

		// 複数登録禁止
		if (
			cval == '<%$smarty.const.AKAGANE_SECTION_KBN_TEXT%>'
			|| cval == '<%$smarty.const.AKAGANE_SECTION_KBN_MIX%>'
			|| cval == '<%$smarty.const.AKAGANE_SECTION_KBN_CHECKBOX%>'
			) {
			$('#asinm_' + com_sp_id).prop('disabled', true);
			$('#asinm_' + com_sp_id).attr("checked", false);
		} else {
			$('#asinm_' + com_sp_id).prop('disabled', false);
		}

		// 関連情報
		if (cval == '<%$smarty.const.AKAGANE_SECTION_KBN_IMAGE%>') {
			$('#asrel_' + com_sp_id).prop('disabled', false);
		} else {
			$('#asrel_' + com_sp_id).prop('disabled', true);
			$('#asrel_' + com_sp_id).attr("checked", false);
		}
	};
	var add_index =0;
	$(document).on('click', '#section_add', function() {
        var level_no = $('#level_no').val();
        if(level_no=='5'){
             Argo_ajax.message_box(' ', '<%$lang["BVE010"]%>'); //Cấp "Bản vẽ phôi" không thể tạo cấp con !
             return;
        }
        add_index++;
        var select_str ='<tr> <td>';//<input size="10" name="add_khogiay[]" id="add_khogiay_'+add_index+'"></td>';
        select_str +='<select style="width: 80px" id="add_khogiay_'+add_index+'" name="add_khogiay[]">';
		select_str +='<option value=""></option>';
		select_str +='<option value="0" >0</option>';
		select_str +='<option value="1" >1</option>';
		select_str +='<option value="2" >2</option>';
		select_str +='<option value="3" >3</option>';
		select_str +='<option value="4" >4</option>';
		select_str +='<option value="5" >5</option>';
		select_str +='</select>';
					
        select_str +='<td><input readonly="true" size="20" name="add_banve_no[]" id="banve_no_'+add_index+'" ></td>';
        select_str +='<td style="text-align: center;"><input type="checkbox" class="add_dungchung" id="dungchung_ck_'+add_index+'"><input type="hidden" value="0" name="add_dungchung[]" id="dungchung_'+add_index+'"></td>';
        select_str +='<td><select name="add_level[]">';
        var start_level = parseInt(level_no) + 1;
        if( parseInt(level_no) >= 3){
        	start_level =parseInt(level_no);
        } 
        for(var i= start_level; i<=5;i++){
        	var loai_bv ='';
        	if( i ==1 ){
        		loai_bv ='<%$lang["BVE011"]%>'; //Bản vẽ tổng thể
        	}else if(i ==2){
        		loai_bv ='<%$lang["BVE012"]%>';  //Bản vẽ cụm lớn
        	}else if(i ==3){
        		loai_bv ='<%$lang["BVE013"]%>';  //Bản vẽ cụm nhỏ
        	}else if(i ==4){
        		loai_bv ='<%$lang["BVE014"]%>';  //Bản vẽ chi tiết
        	}else if(i ==5){
        		loai_bv ='<%$lang["BVE015"]%>';  //Bản vẽ phôi
        	}
        	if(level_no=='3' && i ==4){
        		select_str +='<option value="'+i+'" selected>'+loai_bv+'</option>';
        	}else if(level_no=='4' && i ==5){
        		select_str +='<option value="'+i+'" selected>'+loai_bv+'</option>';
        	}else{
        		select_str +='<option value="'+i+'">'+loai_bv+'</option>';
        	}            
        }			     
        select_str +="</select></td>"; 
        select_str +='<td><input size="30" name="add_child[]" id="add_banve_name_'+add_index+'" class="add_banve_name"></td>';
        select_str +='<td></td><td></td></tr>' 
        //console.log(select_str); 
		$('#folder_list').append(select_str);
	});			
	$(document).off('click', '.add_dungchung');
	$(document).on('click', '.add_dungchung', function(){
		var id =$(this).attr('id').replace('dungchung_ck_','');
		if($(this).is(':checked')){
			$('#banve_no_'+id).removeAttr('readonly');	
            $('#dungchung_'+id).val(1);
		}else{
			$('#banve_no_'+id).attr('readonly','true');
            $('#dungchung_'+id).val(0);
		}
	});
    $(document).off('click', 'input[name="dungchung"]');
    $(document).on('click', 'input[name="dungchung"]', function(){
        if($(this).is(':checked')){	
            $('#banve_no').removeAttr('readonly');			
            $(this).val(1);
		}else{		
            $('#banve_no').attr('readonly','true');
            $(this).val(0);
            if($('#level_no').val() != '1'){
                $('#banve_no').val();
            }
		}
	});
	$(document).on('change', '.add_section_select', function() {
		var com_sp_id = Argo_ajax.get_split_id($(this).attr('id'));
		var cval = $(this).val();
		change_section_status(com_sp_id, cval);
	});	

	var update_category = function () {
		$( "input[type='checkbox']" ).attr("disabled",false);
		$arr = $('#category_form').serializeArray();
		json_ajax.connect('POST', 'banve/update', $arr);
	};
		
	$(document).on('click', '#btn_copy', function() {		
        var select_ajax = new Argo_ajax('html');
        select_ajax.done_func = function (html) {
            $('#copy_dialog').html(html);
            $('#copy_dialog').dialog({
                modal: true,
                width: 600,
                title: '<%$lang["BVE016"]%>',  //Chọn bản vẽ cấp cha
                height: 170, 
                closeOnEscape: true
            });
            $('#copy_dialog').dialog('open'); 
        };
		select_ajax.connect('POST', 'banve/copy', {'banve_id':selected_category_id.replace("ltree_","")});
    });
    $(document).on('click', '#copy_close', function(){
    	$('#copy_dialog').dialog('close');
    });
    $(document).off('click', '#copy_exe');
    $(document).on('click', '#copy_exe', function(){
        /*copy_ajax.done_func = function (data) {
            if (data.error.length > 0) {
                    Argo_ajax.message_box_error('', data.error);
            }else { 
                $('#copy_dialog').dialog('close');
            }
        }*/
        if($('#level_no').val()!='1' && $('#states').val().length == 0 ){
            Argo_ajax.message_box("", '<%$lang["BVE017"]%>'); //Bạn chưa chọn mã bản vẽ  cấp cha !
            return ;
        }
        var banve_form = selected_category_id.replace("ltree_","");
        var banve_to = $('#states').val();
        json_ajax.connect('POST', 'banve/copyexe', {'banve_form':banve_form,'banve_to':banve_to});
        $('#copy_dialog').dialog('close');
    });
    var limit_ajax = new Argo_ajax("json");
    limit_ajax.done_func = function(data) {
        if (data.error) {
            if (data.error.length > 0) {
                    Argo_ajax.message_box_error('', data.error[0]['info']);
            }else {           
                var add_flag=$('#add_flag').val();
                var id = $('#dialog_section_id').val();
                if( add_flag == '1' )
                {
                    //if(check_section()){
                    var name_jpn= $('#section_name_jp').val();
                    nam_jpn = name_jpn.trim();
                    if(nam_jpn.length > 0 ){
                        if(id >0 ){
                            add_section_no=id;
                        }else{
                            add_section_no++;
                            $('#section_table').append(Mustache.render($('#section_add_template').html(), {
                                    section_list:section_list
                                    ,section_no: add_section_no
                                    }));
                            var cval = $('#assel_' + add_section_no).val();
                            change_section_status(add_section_no, cval);
                        }                       
                        $('#lang_select_dialog').dialog('close');
                        $('input[name="add_section_name_'+add_section_no+'"]').focus();	
                    }else{				
                        Argo_ajax.message_box("", '日本語が入力されていません');
                    }		
                }else{
                    $("#ctg_changed_id_"+id).val(1);
                    var name = $("#ctg_changed_id_"+id).attr("name");
                    $('#lang_select_dialog').dialog('close');
                }                
            }
        }
    };    
    
    $(document).on('click', '.btn_save', function() {        
        var lang_select = $('#lang_select').serializeArray();
        limit_ajax.connect('POST', 'banve/limit', lang_select);    
    });
    
    $(document).on('click', '.btn_lang_select', function() {
    	var id = this.id;
    	id = id.replace("btn_lang_select_","");    	
    
    	var name_jp =$("#section_name_jp").val();
    	name_jp=name_jp.trim();
    	var name_en =$("#section_name_en").val();
    	name_en=name_en.trim();
    	var name_ch =$("#section_name_ch").val();
    	name_ch=name_ch.trim();
    	if(name_jp.length >0 ){
	    	$('#btnlang_1').prop( "disabled", false );
	    }
    	if(name_en.length >0 ){
    		$('#btnlang_2').prop( "disabled", false );
    	}
    	if(name_ch.length >0 ){
    		$('#btnlang_3').prop( "disabled", false );
    	}
        
    });
    

	// 保存
	$(document).on('click', '#category_save', function() {		
		//Argo_ajax.ok_cancel_box(' ', 'Bạn chắc ',function(){
        if(check_before_save()){
            $('#level_no').prop('disabled', false);
			$arr = $('#category_form').serializeArray();			
			json_ajax.connect('POST', 'banve/update', $arr);
			$('#level_no').prop('disabled', true);
        }
		//});
	});

	// 削除
	$(document).on('click', '#category_delete', function() {
		Argo_ajax.ok_cancel_box(' ', '<%$lang["BVE018"]%>', function () {	//Bạn chắc chắn muốn xóa bản vẽ mục này？		
			var my_id = $('#category_form').find('input[name="my_id"]').val();
			$('#edit_contents_html').empty();
			json_ajax.connect('GET', 'banve/delete/' + my_id);
		});
	});
	$(document).on('click', '#category_cancel', function() {
		Argo_ajax.ok_cancel_box(' ', '<%$lang["BVE050"]%>', function () {	//Bạn chắc chắn muốn hủy bản vẽ mục này？		
			var my_id = $('#category_form').find('input[name="my_id"]').val();
			$('#edit_contents_html').empty();			
			json_ajax.connect('GET', 'banve/cancel/' + my_id);
		});
	});
	$(document).on('click', '#category_restore', function() {
		Argo_ajax.ok_cancel_box(' ', '<%$lang["BVE054"]%>', function () {	//Bạn chắc chắn muốn hủy bản vẽ mục này？		
			var my_id = $('#category_form').find('input[name="my_id"]').val();
			$('#edit_contents_html').empty();		
			json_ajax.connect('GET', 'banve/restore/' + my_id);
		});
	});
	// 閉じる
	$(document).on('click', '#category_close', function() {
		Argo_ajax.ok_cancel_box(' ', '<%$lang["BVE019"]%>', function () { //Bạn có chắc chắn muốn thoát？
			$('#edit_contents_html').empty();
		});
	});
	
	$(window).on("load resize", function(){
		var wh = $(window).height();
		$(".height1").height(wh - 265);	// ツリー
		$(".height3").height(wh - 200);	// 設定画面
		$('#category_form').height(wh - 250);
	});

	// カテゴリ選択削除
	var remove_selected = function () {
		if (selected_category_id) {
			// 前回の選択を消す
			$('#' + selected_category_id).find('.category_selected').removeClass('category_selected');
		}
		selected_category_id = null;
	};

	// カテゴリツリービュー設定
	var category_select = function (elm) {
		if (sort_mode) {
			return; // ソートモード
		}
		TreeView.set_topic_path(elm);
		remove_selected();
		// カテゴリセレクト
		$(elm).addClass("category_selected");
		selected_category_id = $(elm).parent().parent().attr("id");

		$('#btn_new').show();
		$('#edit_contents_html').empty();
		if ($(elm).parent().parent().parent().hasClass('top') === false) {
			// TOPではない			
            _is_edit_category = true;
			html_ajax.connect('GET', 'banve/edit/' + selected_category_id.replace("ltree_",""));
		}
		
		TreeView.open_folder_by_id(selected_category_id);
		var clickID = $(elm).parent().parent().attr("id");
        var ull = $("li[id="+clickID+"]").find('ul');
        if(ull.length > 0){
            _has_ctg_child = true;
        }
        else{
        	_has_ctg_child = false;
        } 
        var ctg_id = selected_category_id.replace("ltree_","");
        var all_parent = TreeView.get_all_parent(tree_json_data,ctg_id);
        top_parent_id = all_parent[all_parent.length - 2];
        item_select =ctg_id+','+ all_parent.join();
		//console.log(item_select);		       
	};

	TreeView.set_topic_path();

	// ツリーを今記憶しているデータで再描画
	var tree_json_data = null;
	var tree_reload = function () {
                var cat_id = selected_category_id;
		selected_category_id = null;
		$('#btn_new').hide();
		$('#tree_view').empty();
		$('#tree_view').append('<ul class="categories top"></ul>');
		// ツリービューplugin設定
		g_has_click = [];
		TreeView.set(".top", tree_json_data, category_select);                
                if(_is_edit_category == true){
                    l_fold = TreeView.fold('tree_view', false, $(".tree_fold"));
                    $('#tree_view').find("li[id='"+cat_id+"'] > div > a").click();
                    l_fold = TreeView.fold('tree_view', true,$(".tree_fold"));
                }               
	};
		
	//tree_ajax.connect('GET', 'banve/tree');
    $arr_s = $('#search_form').serializeArray();
    tree_ajax.connect('GET', 'banve/tree',$arr_s);
    var check_before_save = function () {
        $chk_flg= true;
        if($('#dungchung').val() !='1'){
            if($('#kho_giay').val().trim()==''){
            Argo_ajax.message_box_error('','<%$lang["BVE020"]%>'); //Bạn chưa nhập khổ giấy !
            return false;
            }else if($('#banve_name').val().trim()==''){
                Argo_ajax.message_box_error('','<%$lang["BVE021"]%>');  //Bạn chưa nhập Tên bản vẽ !
                return false;
            }
            if($('#parent_level').val()=='0' && $('#banve_no').val().trim().length !=7){
                Argo_ajax.message_box_error('','<%$lang["BVE022"]%>');  //Bạn chưa nhập đủ 7 ký tự cho Mã bản vẽ
                return false;
            }
        }else{
            if($('#banve_no').val().trim().length !=7){
                Argo_ajax.message_box_error('','<%$lang["BVE022"]%>');  //Bạn chưa nhập đủ 7 ký tự cho Mã bản vẽ !
                return false;
            }
        }    	
        
        $('.add_dungchung').each(function(key, elem){
    		if($(elem).is(':checked')){
                var id =$(elem).attr('id').replace('dungchung_ck_','');
    			if($('#banve_no_'+id).val().length == 0){
                    Argo_ajax.message_box_error('','<%$lang["BVE023"]%>');  //Bạn phải nhập mã cho bản vẽ dùng chung !
                    $chk_flg = false;
                    return false;
                }
    		}
	    });
        $('.add_banve_name').each(function(key, elem){
    		if($(elem).val().trim() != ''){
                var id =$(elem).attr('id').replace('add_banve_name_','');
    			if($('#add_khogiay_'+id).val().trim().length == 0){
                    Argo_ajax.message_box_error('','<%$lang["BVE024"]%>'); //Bạn phải nhập khổ giấy cho bản vẽ con !
                    $chk_flg = false;
                    return false;
                }
    		}
	    });
        return $chk_flg;
	};
	$('#btn_search').click(function(){ 
        $arr_s = $('#search_form').serializeArray();
        tree_ajax.connect('POST', 'banve/tree',$arr_s);      
        //$('#search_form').submit();
	});
    $("#s_banve_no").keydown(function (e) {
        if (e.keyCode == 13) {
            $('#btn_search').click();
        }
    });        
    $("#s_banve_name").keydown(function (e) {
        if (e.keyCode == 13) {
            $('#btn_search').click();
        }
    });
	$('#btn_clear').click(function(){
		$('#search_form').find("textarea, :text, select").val("");
	});
	 $(document).off('click', '#category_move');
    $(document).on('click', '#category_move', function() {
		var html_ajax = new Argo_ajax("html");
		html_ajax.done_func = function(html) {
			$("#move_dialog").dialog({
				autoOpen: false,
				width: 500,
				height: 550,
				modal: true,
				resize:false,
				title:"Chọn bản vẽ cấp cha để di chuyển vào"
			});

			$("#move_dialog").html(html);
			$("#move_dialog").dialog("open");
		};
	        //scrollFolder();
		html_ajax.connect("POST", "banve/movebv", {
			"s_banve_no": $('#banve_no').val()		
		});
		//$arr_s = $('#search_form').serializeArray();
        //tree_ajax.connect('POST', 'banve/movebv',$arr_s);
	});
});
        var top_parent_id = null;
        var selected_category_id = null;
        var l_fold = false;
        $( ".tree_fold" ).click(function() {
            l_fold = TreeView.fold('tree_view', l_fold,$(".tree_fold"));
        });	
</script>
</body>
<!-- InstanceEnd --></html>