<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><!-- InstanceBegin template="/Templates/base.dwt" codeOutsideHTMLIsLocked="false" --><head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Lịch sử xét duyệt</title>
		<%include 'include/head.html'%>
		<link href="<%$smarty.const.ACW_BASE_URL%>shared/css/baitai.css" rel="stylesheet" type="text/css" />
        <link href="<%$smarty.const.ACW_BASE_URL%>shared/css/jquery.datetimepicker.css" rel="stylesheet" type="text/css" />
        <script type="text/javascript" src="<%$smarty.const.ACW_BASE_URL%>shared/js/jquery.datetimepicker.full.min.js"></script>
</head>
<body class="column_1">
<div class="bg">
<div class="container">
		<%include 'include/menu.html'%>
<div class="contents_wrap"> 
<!-- InstanceBeginEditable name="top_contents" -->
    <%if $mode != "main"%>
	<div class="search_wrap">
		<form id="search_form" action="<%$smarty.const.ACW_BASE_URL%>don/history" method="POST">
        <input type="hidden" name="default_flg" value="<%$search_data.default_flg%>"/>
		<table class="kensaku">
			<colgroup>
				<col width="85px" />
				<col width="200px" /> 
			</colgroup>
			<tr>
				<!--<th>Điều kiện</th>
                <td class="first">
                Loại bản vẽ 
                    <select name="loaidon">
                        <option ></option>
                        <option value="0" <%if $search_data.loaidon=='0'%>selected<%/if%> >Tạo mới</option>
                        <option value="1" <%if $search_data.loaidon=='1'%>selected<%/if%>>Cập nhật</option>
                    </select>
                </td>
                <td >Từ thời điểm <input type="text"  name="tu_ngay" class="datetimepicker" value="<%$search_data.tu_ngay%>" />
                </td>
                <td>đến<input type="text"  name="den_ngay" class="datetimepicker" value="<%$search_data.den_ngay%>" /></td>
                <td>Mã số duyệt <input maxlength="20" type="text" name="maso_duyet" id="" value="<%$search_data.maso_duyet%>" />
                </td>
                <td>Tình trạng 
                    <select name="trangthai">
                        <option ></option>
                        <option value="0" <%if $search_data.trangthai=='0'%>selected<%/if%>>Đang Chờ</option>
                        <option value="1" <%if $search_data.trangthai=='1'%>selected<%/if%>>Đã duyệt</option>
                        <option value="2" <%if $search_data.trangthai=='2'%>selected<%/if%>>Không duyệt</option>
                        <option value="3" <%if $search_data.trangthai=='2'%>selected<%/if%>>Xin mượn bản vẽ</option>
                        <option value="4" <%if $search_data.trangthai=='4'%>selected<%/if%>>Trả yêu xin mượn bản vẽ</option>
                        <option value="5" <%if $search_data.trangthai=='5'%>selected<%/if%>>Đã duyệt xin mượn bản vẽ</option>
                        
                    </select>
                </td>                
                <td class="al_l"><button class="button_blue" type="button" id="btn_search">Tìm</button> <button type="button" id="btn_clear" class="button_blue">Xóa</button></td>-->
                <th>Điều kiện</th>
                <td class="first" style="padding: 0px 40px;">
                    <table class="table_search">
                    <tr>
                        <td >Loại bản vẽ 
                        <select name="loaidon">
                            <option ></option>
                            <option value="0" <%if $search_data.loaidon=='0'%>selected<%/if%> >Tạo mới</option>
                            <option value="1" <%if $search_data.loaidon=='1'%>selected<%/if%>>Cập nhật</option>
                        </select>
                        </td>
                        <td >Từ thời điểm <input type="text"  name="tu_ngay" class="datetimepicker" value="<%$search_data.tu_ngay%>" />
                </td>
                <td>đến<input type="text"  name="den_ngay" class="datetimepicker" value="<%$search_data.den_ngay%>" /></td>
                <!--<td>Mã số duyệt <input maxlength="20" type="text" name="maso_duyet" id="" value="<%$search_data.maso_duyet%>" />-->
                </td>
                <td>Tình trạng 
                    <select name="trangthai">
                        <option ></option>
                        <option value="0" <%if $search_data.trangthai=='0'%>selected<%/if%>>Đang Chờ</option>
                        <option value="1" <%if $search_data.trangthai=='1'%>selected<%/if%>>Đã duyệt</option>
                        <option value="2" <%if $search_data.trangthai=='2'%>selected<%/if%>>Không duyệt</option>
                        <option value="3" <%if $search_data.trangthai=='2'%>selected<%/if%>>Xin mượn bản vẽ</option>
                        <option value="4" <%if $search_data.trangthai=='4'%>selected<%/if%>>Trả yêu xin mượn bản vẽ</option>
                        <option value="5" <%if $search_data.trangthai=='5'%>selected<%/if%>>Đã duyệt xin mượn bản vẽ</option>
                        
                    </select>
                </td>                 
                <td class="al_l"><button class="button_blue" type="button" id="btn_search">Tìm</button> <button type="button" id="btn_clear" class="button_blue">Xóa</button></td>
                    </tr>
                    <tr>
                        <td>Mã bản vẽ tổng <input maxlength="20" type="text" name="don_no" id="" value="<%$search_data.don_no%>" />                        
                        <td>Mã số duyệt <input maxlength="20" type="text" name="maso_duyet" id="" value="<%$search_data.maso_duyet%>" />
                        <td>Tên file <input maxlength="20" type="text" name="file_name" id="" value="<%$search_data.file_name%>" />
                    </tr>
                    </table>
                </td>
            </tr>            
		</table>
		</form>
	</div>
    <%/if%>
	<!--<ul class="topic_path">
		<li><h2>Quản lý user</h2></li>
	</ul>-->
<!-- InstanceEndEditable -->
<!-- InstanceBeginEditable name="side_contents" -->
<!-- InstanceEndEditable -->
<!-- InstanceBeginEditable name="main_contents" -->
<div class="main_contents">
<div class="main_innner height2">
	<div class="baitai_wrap">
		<!--<p class="clear_fix" style="text-align: right;"><input type="button" value="Thêm mới" id="btn_new" /></p>-->
		<table id="data_list">
			<thead>
			<tr>
				<th style="width: 40px;">No.</th>               
                <th style="width: 60px;">Mã bản vẻ</th>
                <th style="width: 200px;">Tiêu đề</th>
                <th style="width: 70px;">Ngày lập</th>
                <th style="width: 100px;">Người tạo</th>
                <th style="width: 100px;">Người duyệt cuối</th>
                <th style="width: 120px; text-align: center;">tình trạng</th>
                <th style="width: 200px;">Nội dung</th>
			</tr>
			</thead>
			<tbody>
<%foreach $data_rows as $key=>$row%>
			<tr>
                <td style="text-align: center;">
					<%($key+1)%>
				</td>				
				<td style="text-align: center;">
					<%$row.don_no%>
				</td>
				<td >
                    <input type="hidden" class="m_user_id" value="<%$row.don_id%>" />
					<a href="<%$smarty.const.ACW_BASE_URL%>don/edit/<%$row.don_id%>" class="btn_edit"><%$row.tieude%></a>
				</td>
                <td><%$row.add_datetime%> </td>
                <td><%$row.add_user%></td>
                <td><%$row.user_name_disp%></td>
                <td>
                    <%$row.status_name%>
                </td>
                <td><%$row.noidung%></td>
			</tr>
<%/foreach%>
			</tbody>
		</table>
	</div><!-- / .top_wrap -->
</div><!-- / .main_innner -->
</div><!-- / .main_contents -->
<!-- InstanceEndEditable -->
<%include 'include/footer.html'%>
</div><!-- / .contents_wrap -->
</div><!-- / .container -->
</div><!-- / .bg -->
<%include 'include/argo_ajax.html'%>
<%include 'include/table_shima.html'%>
<script type='text/javascript'>
$(function() {
    //jQuery('#datetimepicker').datetimepicker();
    //jQuery.datetimepicker.setLocale('de');
    /*jQuery('#datetimepicker').datetimepicker({
     i18n:{
      de:{
       months:[
        'Januar','Februar','März','April',
        'Mai','Juni','Juli','August',
        'September','Oktober','November','Dezember',
       ],
       dayOfWeek:["CN", "T2", "T3", "T4", "T5", "T6", "T7"    ]
      }
     },
     timepicker:true,
     format:'d/m/Y H:i'
    });*/
    console.log('<%$menu%>');
    $('<%$menu%>').addClass('selected');
    $('.datetimepicker').datetimepicker({
          //format:'Y/m/d H:i',
          format:'d/m/Y',
          inline:false,
          timepicker:false,
          lang:'ru'
    });
	// ダイアログ準備
	$("#edit_dialog").dialog({
		autoOpen: false,
		width: 1000,
		/*height: $(window).height() - 100,*/
		modal: true,
		title: 'Thông đơn vị'
	});
	
        //Add Start - Trung VNIT - 2014/08/21
        var search_user_ajax = new Argo_ajax('json');
        search_user_ajax.done_func = function(data) {
            if (data.error) {
                if (data.error.length > 0) {
                    $('#data_list tbody').empty();
                   Argo_ajax.message_box_error('', data.error[0]['info']);
                }else{
                    $('#search_form').submit();
                }
            }
        };	
        
	// 検索ボタン
	$('#btn_search').click(function(){        
            $arr = $('#search_form').serializeArray();
            search_user_ajax.connect('POST', 'donvi/checkmaxlenght', $arr);
          
	});
            
    $("#search_donvi_name").keydown(function (e) {
        if (e.keyCode == 13) {
                $('#btn_search').click();
        }
    });
 
	
	$('#btn_clear').click(function(){
		$('#search_form').find("textarea, :text, select").val("");
	});
	
	$(document).on("click", "#btn_new", function () {
		open_user_edit(null);
	});

	$(document).on("click", ".btn_edit", function () {		
		var donvi_id = $(this).prev().val();
		open_user_edit(donvi_id);
	});
	table_shimashima('#data_list');
	
	$(window).on("load resize", function(){
		var wh = $(window).height();
		$(".height2").height(wh - 206);	
	});
});

function open_user_edit(donvi_id)
{
	var html_ajax = new Argo_ajax("html");
	html_ajax.done_func = function(html) {
		$("#edit_dialog").html(html);
		$("#edit_dialog").dialog("open");
	};
	html_ajax.connect("POST", "donvi/edit", {
		"donvi_id": donvi_id
	});
}


</script>
<div id="edit_dialog">
	
</div>
</body>
<!-- InstanceEnd --></html>