<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<%assign var='lang' value=Message_model::get_message('LOGIN')%>
<title><%$lang['LOG006']%></title><!--Đăng nhập-->
<link href="<%$smarty.const.ACW_BASE_URL%>shared/css/reset.css" rel="stylesheet" type="text/css" />
<link href="<%$smarty.const.ACW_BASE_URL%>shared/css/login.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="main_contents">
	<div class="login_wrap">
        
		<form action="<%$smarty.const.ACW_BASE_URL%>login/auth" name="login_form" method="POST" id="login_form">
		<table>
			<tr><td colspan="3"><h1><%$lang['LOG001']%></h1></td></tr>
			<tr><td colspan="3"></td></tr>
            <tr><td colspan="3"></td></tr>
			<tr><th></th><th><%$lang['LOG002']%></th><td><input type="text" size="20" name="user_id" id="user_id" value="<%$user_id%>"/></td></tr><!--TÊN ĐĂNG NHẬP-->
			<tr><th></th><th><%$lang['LOG003']%></th><td><input type="password" size="20" name="passwd" id="passwd" /></td></tr><!--MẬT KHẨU-->
			<tr><th></th><th><%$lang['LOG004']%></th><td><select name="lang"><!--NGÔN NGỮ-->
													<option value="1">Việt Nam </option>
													<option value="2">English </option>
											  </select>
			</td></tr>
            <tr><td colspan="3"></td></tr>
			<tr>
                <th></th>
				<td colspan="2" style="text-align: right !important">
					<a href="javascript:void(0);" style="float:right" class="btn img_opacity" id="btn_login"><%$lang['LOG006']%></a><!--Đăng nhập-->
                    <a href="javascript:void(0);" style="float:right" class="btn img_opacity" id="btn_clear"><%$lang['LOG005']%></a><!--Xóa-->
				</td>
			</tr>
			<tr>
                <th></th>
                <td colspan="2"><span id="msg"><%if count($acw_error) > 0%><%if isset($acw_error.ip)%><%$acw_error.ip%><%else%><%$acw_error.message%><%/if%><%/if%></span></td>
            </tr>
		</table>
		<input type="submit" style="position: absolute; left: -9999px; width: 1px; height: 1px;" tabindex="-1"/>
		</form>
		<p></p>
	</div>
</div><!-- / .main_contents -->
<script src="<%$smarty.const.ACW_BASE_URL%>js/jquery-1.9.1.js"></script>
<script type="text/javascript">
$(function() {
	// クリアボタン
	$('#btn_clear').click(function () {
		$('#user_id').val('');
		$('#passwd').val('');
		$('#msg').text('');
	});
	// ログインボタン
	$('#btn_login').click(function () {
		$('#login_form').submit();
	});
	$('#user_id').focus();
	var elements = "input";
	$("#user_id").on("keypress", function(e) {
		if (e.keyCode == 13) { 
			$("#passwd").focus();
			e.preventDefault();
		}
	});
	$("#passwd").on("keypress", function(e) {
		if (e.keyCode == 13) { 
			$("#btn_login").click();
			e.preventDefault();
		}
	});
});
</script>
</body>
</html>