<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><!-- InstanceBegin template="/Templates/base.dwt" codeOutsideHTMLIsLocked="false" --><head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title><%$file_name%></title>
		
</head>
<body>
    <object data="<%$smarty.const.ACW_BASE_URL%><%$full_path%>" type="application/pdf" width="100%" height="100%"
    style="    position: absolute;">
    </object>
</body>
<!-- InstanceEnd --></html>