<div class="main_contents">
    <div class="main_innner height3" id="edit_contents_html" style="overflow-y: hidden; height: auto;">
        <div class="series_wrap" style="padding-top: 10px">
    		<div class="info_wrap height4">
    			<div class="hl_wrap">
    				<h3 >Thông tin thư mục</h3>
    				<ul class="btn_wrap">
    					<li><input type="button" id="save_button" value="Cập nhật" /></li>
                                          
    				</ul>
    			</div>
    			<div class="edit_wrap related height6" style="height: 350px;">
    				<h3 class="hl">Tổ (nhóm)</h3>
    				<div class="tree_wrap height5" style="height: 300px;">
    					<ul id="series_list">
                        
    					</ul>			
    				</div><!-- / .side_contents -->
    			</div><!-- / .edit_wrap -->

    			<div class="move_wrap height5" style="height: 300px;">
    				<ul>
    					<li><a href="javascript:void(0);" class="img_opacity disabled" id="don_del_button"><img src="<%$smarty.const.ACW_BASE_URL%>shared/img/btn_move_l.gif" /></a></li>
    					<li><a href="javascript:void(0);" class="img_opacity disabled" id="don_add_button"><img src="<%$smarty.const.ACW_BASE_URL%>shared/img/btn_move_r.gif" /></a></li>
    				</ul>
    			</div><!-- / .edit_wrap -->

    			<div class="edit_wrap height6" style="height: 350px;">
    				<h3 class="hl">Tổ (nhóm) đã được cấp phát</h3>                                
                    <div class="right_tree_wrap height5 " style="height: 300px;" >
                        <ul id="don_list_folder">
                        
    					</ul>
    				</div>
    			</div><!-- / .edit_wrap -->
    		</div><!-- / .info_wrap -->
    	</div><!-- / .series_wrap -->
       
    </div><!-- / .main_innner -->    
</div><!-- / .main_contents -->