	<div class="series_wrap">
		<div class="title_wrap clear_fix">
			<h2><img src="<%$smarty.const.ACW_BASE_URL%>shared/img/icon_file2.gif" />Thông tin bản vẽ</h2>
		</div>
		<form id="category_form">
		<input id="update_child" name="update_child" type="hidden" value="0"/>
		<div class="info_wrap">
			<div class="hl_wrap">
				<h3>Thông Tin cơ bản</h3>
				<ul class="btn_wrap">
					<li><input type="button" id="category_close" value="Đóng" /></li>
					<li><input type="button" id="category_delete" value="Xóa" /></li>
					<li><input type="button" id="category_save" value="Cập nhật" /></li>
				</ul>
			</div>
			<table class="category_1">
				<colgroup><col width="120px" /><col width="20px" /></colgroup>
				<tr>					
					<th colspan="2">Khổ giấy<%if $parent_level=='0'%><span class="edit_require">*</span><%/if%></th>                
					<td colspan="2"><input style="width: 100px" maxlength="1" id="kho_giay" name="kho_giay" type="text"  value="<%$kho_giay%>"/></td>
				</tr>
				<tr>					
					<th colspan="2">Mã bản vẽ<%if $parent_level=='0'%><span class="edit_require">*</span><%/if%></th>                
					<td><input maxlength="7" id="banve_no" <%if $parent_level!='0'%>readonly="true"<%/if%> name="banve_no" type="text" size="10" value="<%$banve_no%>"/></td>
					<td><label>Dùng chung
						<input type="checkbox" name="dungchung" id="dungchung"<%if $dungchung == '1'%>checked<%/if%> <%if strlen($banve_no)>0%>onclick="return false"<%/if%> value="<%$dungchung%>">						    </label>
					</td>
				</tr>
                <tr><th colspan="2">Loại bản vẽ</th>
				<td colspan="2"><select id="level_no"  name="level" disabled>
                        <option value="1" <%if $level == '1'%>selected<%/if%>>Bản vẽ tổng thể</option>
                        <option value="2" <%if $level == '2'%>selected<%/if%>>Bản vẽ cụm lớn</option>
                        <option value="3" <%if $level == '3'%>selected<%/if%>>bản vẽ cụm nhỏ</option>
                        <option value="4" <%if $level == '4'%>selected<%/if%>>bản vẽ chi tiết</option>
                        <option value="5" <%if $level == '5'%>selected<%/if%>>bản vẽ phôi</option>                      
                    </select>
                </td>
				</tr>
				<tr><th colspan="2">Tên bản vẽ<span class="edit_require">*</span></th>
				<td colspan="2"><input name="banve_name" id="banve_name" type="text" size="30" value="<%$banve_name%>"/></td>
				</tr>
                <tr>
                    <th colspan="2">Người tạo</th>
				    <td colspan="2"><%$user_name%></td>
				</tr>
				<tr>
                    <th colspan="2">Ngày tạo</th>
				    <td colspan="2"><%$add_datetime%></td>
				</tr>
			</table>
		</div>
		<div class="info_wrap">
			<div class="hl_wrap">
				<h3>Danh sách bản vẽ cấp con</h3>
				<ul class="btn_wrap">
					<li><input type="button" value="Thêm bản vẽ con" id="section_add" />						
					</li>
				</ul>
			</div>
			<table class="category_2" id="folder_list" style="width: 98%;">				
				<thead>
					<tr>
                        <th style="width: 120px;">Khổ giấy</th>
						<th style="width: 170px;">Mã bản vẽ</th>
						<th style="width: 80px;text-align: center;">Dùng chung</th>
                        <th style="width: 250px;text-align: center;">Loại bản vẽ</th>
		                <th style="text-align: center;">Tên bản vẽ</th>
                        <th style="width: 250px;text-align: center;">Người tạo</th>
                        <th style="width: 250px;text-align: center;">Ngày tạo</th>
					</tr>
				</thead>
				<%foreach $banve_child as $row%>
				<tr> 
                    <td><%$row.kho_giay%></td>
                    <td><%$row.banve_no%></td>
                    <td style="text-align: center;"><input type="checkbox" onclick="return false" <%if $row.dungchung == '1'%>checked<%/if%>/></td>
                    <td><%if $row.level =='1'%>Bản vẽ tổng thể 
                    	<%else if $row.level =='2'%>Bản vẽ cụm lớn
                    	<%else if $row.level =='3'%>Bản vẽ cụm nhỏ
                    	<%else if $row.level =='4'%>Bản vẽ chi tiết
                    	<%else if $row.level =='5'%>Bản vẽ phôi<%/if%>
                    </td>
					<td><%$row.banve_name%></td>
                    <td><%$row.user_name%></td>
                    <td><%$row.add_datetime%></td>
				</tr>
				<%/foreach%>
			</table>
		</div>		
			<input type="hidden" name="parent_id" value="<%$parent_id%>">
			<input type="hidden" name="my_id" value="<%$my_id%>">
			<input type="hidden" name="parent_level" id="parent_level" value="<%$parent_level%>">			
		</form>
	</div><!-- / .series_wrap -->