	<%assign var='lang' value=Message_model::get_message('BANVE')%>
	<div class="series_wrap">
		<div class="title_wrap clear_fix" style="padding-right: 15px">
			<h2><img src="<%$smarty.const.ACW_BASE_URL%>shared/img/icon_file2.gif" /><%$lang['BVE042']%></h2><!--Thông tin bản vẽ-->			
			<div style="float: right;">
				<input type="button" id="category_close" value="<%$lang['BVE044']%>" /><!--Đóng-->
				<%*<input type="button" id="category_delete" value="<%$lang['BVE040']%>" /> *%><!--Xóa-->
				<%if $del_flg=='0'%>
				<input type="button" id="category_cancel" value="<%$lang['BVE048']%>" /> <!--Hủy-->
				<%else%>
				<input type="button" id="category_restore" value="<%$lang['BVE049']%>" /> <!--Phục hồi-->
				<%/if%>
				<input type="button" id="category_save" value="<%$lang['BVE043']%>" <%if $del_flg != 0%>disabled="disabled"<%/if%>/><!--Cập nhật-->
			</div>
		</div>
		<form id="category_form" class="scroll_form">
		<input id="update_child" name="update_child" type="hidden" value="0"/>
		<div class="info_wrap">
			<div class="hl_wrap">
				<h3><%$lang['BVE045']%></h3><!--Thông Tin cơ bản-->				
			</div>
			<table class="category_1">
				<colgroup><col width="120px" /><col width="20px" /></colgroup>
				<tr>					
					<th colspan="2"><%$lang['BVE031']%><%if $parent_level=='0'%><span class="edit_require">*</span><%/if%></th><!--Khổ giấy-->                
					<td colspan="2"><!--input style="width: 100px" maxlength="1" id="kho_giay" name="kho_giay" type="text"  value="<%$kho_giay%>"/>-->
						<select style="width: 100px" id="kho_giay" name="kho_giay" <%if $del_flg != 0%>disabled="disabled"<%/if%>>
							<option value=""></option>
							<option value="0" <%if $kho_giay=='0'%>selected<%/if%>>0</option>
							<option value="1" <%if $kho_giay=='1'%>selected<%/if%>>1</option>
							<option value="2" <%if $kho_giay=='2'%>selected<%/if%>>2</option>
							<option value="3" <%if $kho_giay=='3'%>selected<%/if%>>3</option>
							<option value="4" <%if $kho_giay=='4'%>selected<%/if%>>4</option>
							<option value="5" <%if $kho_giay=='5'%>selected<%/if%>>5</option>
						</select>
					</td>
				</tr>
				<tr>					
					<th colspan="2"><%$lang['BVE032']%><%if $parent_level=='0'%><span class="edit_require">*</span><%/if%></th><!--Mã bản vẽ-->                
					<td><input maxlength="7" id="banve_no" <%if $parent_level!='0'%>readonly="true"<%/if%> name="banve_no" type="text" size="10" value="<%$banve_no%>" <%if $del_flg != 0%>disabled="disabled"<%/if%>/></td>
					<td><label><%$lang['BVE030']%>
						<input type="checkbox" name="dungchung" id="dungchung"<%if $dungchung == '1'%>checked<%/if%> <%if strlen($banve_no)>0%>onclick="return false"<%/if%> value="<%$dungchung%>">						    </label><!--Dùng chung-->
					</td>
				</tr>
                <tr><th colspan="2"><%$lang['BVE033']%></th><!--Loại bản vẽ-->
				<td colspan="2"><select id="level_no"  name="level" disabled >
                        <option value="1" <%if $level == '1'%>selected<%/if%>><%$lang['BVE011']%></option><!--Bản vẽ tổng thể-->
                        <option value="2" <%if $level == '2'%>selected<%/if%>><%$lang['BVE012']%></option><!--Bản vẽ cụm lớn-->
                        <option value="3" <%if $level == '3'%>selected<%/if%>><%$lang['BVE013']%></option><!--bản vẽ cụm nhỏ-->
                        <option value="4" <%if $level == '4'%>selected<%/if%>><%$lang['BVE014']%></option><!--bản vẽ chi tiết-->
                        <option value="5" <%if $level == '5'%>selected<%/if%>><%$lang['BVE015']%></option><!--bản vẽ phôi-->
                    </select>
                </td>
				</tr>
				<tr><th colspan="2"><%$lang['BVE034']%><span class="edit_require">*</span></th><!--Tên bản vẽ-->
				<td colspan="2"><input name="banve_name" id="banve_name" type="text" size="30" value="<%$banve_name%>" <%if $del_flg != 0%>disabled="disabled"<%/if%>/></td>
				</tr>
                <tr>
                    <th colspan="2"><%$lang['BVE035']%></th><!--Người tạo-->
				    <td colspan="2"><%$user_name%></td>
				</tr>
				<tr>
                    <th colspan="2"><%$lang['BVE036']%></th><!--Ngày tạo-->
				    <td colspan="2"><%$add_datetime%></td>
				</tr>
			</table>
		</div>
		<div class="info_wrap">
			<div class="hl_wrap">
				<h3><%$lang['BVE046']%></h3><!--Danh sách bản vẽ cấp con-->
				<ul class="btn_wrap">
					<li><input type="button" value="<%$lang['BVE047']%>" id="section_add" <%if $del_flg != 0%>disabled="disabled"<%/if%>/><!--Thêm bản vẽ con-->						
					</li>
				</ul>
			</div>
			<table class="category_2" id="folder_list" style="width: 98%;">				
				<thead>
					<tr>
                        <th style="width: 120px;"><%$lang['BVE031']%></th><!--Khổ giấy-->
						<th style="width: 170px;"><%$lang['BVE032']%></th><!--Mã bản vẽ-->
						<th style="width: 80px;text-align: center;"><%$lang['BVE030']%></th><!--Dùng chung-->
                        <th style="width: 250px;text-align: center;"><%$lang['BVE033']%></th><!--Loại bản vẽ-->
		                <th style="text-align: center;"><%$lang['BVE034']%></th><!--Tên bản vẽ-->
                        <th style="width: 250px;text-align: center;"><%$lang['BVE035']%></th><!--Người tạo-->
                        <th style="width: 250px;text-align: center;"><%$lang['BVE036']%></th><!--Ngày tạo-->
					</tr>
				</thead>
				<%foreach $banve_child as $row%>
				<tr> 
                    <td><%$row.kho_giay%>                    	
                    </td>
                    <td><%$row.banve_no%></td>
                    <td style="text-align: center;"><input type="checkbox" onclick="return false" <%if $row.dungchung == '1'%>checked<%/if%>/></td>
                    <td><%if $row.level =='1'%><%$lang['BVE011']%><!--Bản vẽ tổng thể -->
                    	<%else if $row.level =='2'%><%$lang['BVE012']%><!--Bản vẽ cụm lớn-->
                    	<%else if $row.level =='3'%><%$lang['BVE013']%><!--Bản vẽ cụm nhỏ-->
                    	<%else if $row.level =='4'%><%$lang['BVE014']%><!--Bản vẽ chi tiết-->
                    	<%else if $row.level =='5'%><%$lang['BVE015']%><!--Bản vẽ phôi--><%/if%>
                    </td>
					<td><%$row.banve_name%></td>
                    <td><%$row.user_name%></td>
                    <td><%$row.add_datetime%></td>
				</tr>
				<%/foreach%>
			</table>
		</div>		
			<input type="hidden" name="parent_id" value="<%$parent_id%>">
			<input type="hidden" name="my_id" value="<%$my_id%>">
			<input type="hidden" name="parent_level" id="parent_level" value="<%$parent_level%>">			
		</form>
	</div><!-- / .series_wrap -->
<script type='text/javascript'>
$(function() {	

		var wh = $(window).height();
		
		$('#category_form').height(wh - 255);
	
});
</script>